.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: flex-start;
  column-gap: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.nav__link:hover {
  opacity: 0.5;
}
